@page
@model QLRapChieuPhim.Pages.CapNhatPhimModel
@{
}
<link rel="stylesheet" href="~/css/style.css" />
<style>
    .navbar ul.navbar-nav a.nav-link {
        font-size: 16px;
    }

    .form-group > label {
        margin-bottom: 0;
        margin-top: .5rem;
    }

    input, textarea {
        -webkit-appearance: auto;
    }

    .form-check {
        margin-bottom: .5rem;
    }

    .movie__info .img-thumbnail {
        width: 180px;
        height: 260px;
        cursor: pointer;
    }

    @@media (min-width: 768px) {
        .form-group > label {
            text-align: right;
        }

        .movie__info .poster {
            float: left;
            width: 200px;
        }
    }

    @@media (max-width: 767px) {
        .movie__info .poster {
            width: 100%;
        }
    }
</style>
<!-- Main content -->
<section class="container">
    <div class="col-md-12">
        <div class="movie">
            <h2 class="page-heading">Cập nhật nội dung phim</h2>

            <div class="movie__info">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group poster text-center">
                        <div class=""><img src="data:image/png;base64, @Model.Phim.Poster" class="img-thumbnail" id="imgThumbnail"></div>
                        <div class="" style="margin-top: 10px;">
                            <input type="button" value="Chọn hình" class="btn btn-info" id="chonHinh" />
                            <input type="file" name="inputFile" id="inputFile" style="display: none;" />
                            <input type="hidden" name="poster" id="poster" value="@Model.Phim.Poster" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="tenphim" class="col-md-3">Tên phim</label>
                        <div class="col-md-9"><input type="text" name="tenphim" id="tenphim" class="form-control" value="@Model.Phim.TenPhim" /></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="tengoc" class="col-md-3">Tên gốc</label>
                        <div class="col-md-9"><input type="text" name="tengoc" id="tengoc" class="form-control" value="" /></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="nuocsanxuat" class="col-md-3">Nước sản xuất</label>
                        <div class="col-md-9"><input type="text" name="nuocsanxuat" id="nuocsanxuat" class="form-control" value="" /></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="nhasanxuat" class="col-md-3">Nhà sản xuất</label>
                        <div class="col-md-9"><input type="text" name="nhasanxuat" id="nhasanxuat" class="form-control" value="" /></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="ngaykhoichieu" class="col-md-3">Ngày khởi chiếu</label>
                        <div class="col-md-3"><input type="date" name="ngaykhoichieu" id="ngaykhoichieu" class="form-control" value="" /></div>
                        <label for="thoiluong" class="col-md-3">Thời lượng (phút)</label>
                        <div class="col-md-3"><input type="number" name="thoiluong" class="form-control" value="" /></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="trailer" class="col-md-3">link trailer</label>
                        <div class="col-md-9"><input type="text" name="trailer" id="trailer" class="form-control" value="" /></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label for="" class="col-md-2">Thể loại</label>
                        <div class="col-md-8">
                            @{
                                
                                <div class="col-md-4 col-sm-6 form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="danhsachidtheloai" value=""> 
                                    </label>
                                </div>
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <label for="daodien" class="col-md-2">Đạo diễn</label>
                        <div class="col-md-8"><input type="text" name="daodien" id="daodien" class="form-control" value="" /></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label for="dienvien" class="col-md-2">Diễn viên</label>
                        <div class="col-md-8"><input type="text" name="dienvien" id="dienvien" class="form-control" value="" /></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label for="idxephangphim" class="col-md-2">Xếp hạng phim</label>
                        <div class="col-md-8">
                            <select name="idxephangphim" id="idxephangphim" class="form-control">
                                
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label for="noidung" class="col-md-2">Nội dung phim</label>
                        <div class="col-md-8"><textarea name="noidung" id="noidung" rows="5" class="form-control"></textarea></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu thông tin phim</button>
                    </div>
                </form>
            </div>

        </div>

    </div>

</section>
@{
    <div id="dialog-message" title="Thông báo">
        <div style="margin: 10px 0; font-weight: bold;">
            
        </div>
    </div>
}

<div class="clearfix"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#chonHinh, #imgThumbnail').click(function () {
            $('#inputFile').click();
        });

        $("#dialog-message").dialog({
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });
    });

    
    const inputFile = document.getElementById("inputFile");
    const imgPreview = document.getElementById("imgThumbnail");
    const post = document.getElementById("poster");
    inputFile.addEventListener("change", function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.addEventListener("load", function () {
                imgPreview.setAttribute("src", this.result);
                var res = this.result.split(";base64,");
                post.setAttribute("value", res[1]);
            });
            reader.readAsDataURL(file);
        } else {
            imgPreview.setAttribute("src", "images/movie/movie-sample-180x260.jpg");
            post.setAttribute("value", "");
        }
    });
</script>