@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CSC Cinema</h1>
    <img alt='logo' src="~/images/csc-cinema-logo.png" />
</div>
