@page
@model QLRapChieuPhim.Pages.ThongTinPhimModel
@{
}
<link rel="stylesheet" href="~/css/style.css" />
<style>
    .navbar ul.navbar-nav a.nav-link {
        font-size: 16px;
    }
</style>
<!-- Main content -->
<section class="container">
    <div class="col-sm-12">
        <div class="movie">
            <h2 class="page-heading"></h2>

            <div class="movie__info">
                <div class="col-sm-4 col-md-3 movie-mobile" style="width: auto;">
                    <div class="movie__images">
                        <img alt='' src="">
                    </div>
                </div>

                <div class="col-sm-8 col-md-9">
                    <p class="movie__time">Thời lượng: </p>

                    <p class="movie__option"><strong>Nước sản xuất: </strong><a href="#"></a></p>
                    <p class="movie__option"><strong>Hãng sản xuất: </strong><a href="#"></a></p>
                    <p class="movie__option">
                        <strong>Thể loại: </strong>
                        
                    </p>
                    <p class="movie__option"><strong>Ngày khởi chiếu: </strong></p>
                    <p class="movie__option"><strong>Đạo diễn: </strong><a href="#"></a></p>
                    <p class="movie__option"><strong>Diễn viên: </strong><a href="#"></a></p>
                    <p class="movie__option"><strong></strong></p>

                    <div class="movie__btns movie__btns--full">
                        <a href="#" class="btn btn-md btn--warning">Đặt vé</a>
                        <a href="#" class="watch-trailer">Trailer</a>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>
            <p></p>
            <p class="movie__describe"></p>

        </div>

    </div>

</section>

<div class="clearfix"></div>